site_name: TaxonoPy
site_description: Documentation for the TaxonoPy package

repo_url: https://github.com/Imageomics/taxonopy
repo_name: Imageomics/taxonopy

nav:
  - Home: index.md
  - Command Line Usage:
      - Tutorial: command_line_usage/tutorial.md
      - Help: command_line_usage/help.md
  - Acknowledgements: acknowledgements.md

theme: 
  name: material
  features:
  - navigation.tabs
  - navigation.tabs.sticky
  - content.code.copy
  - content.code.annotate

plugins:
- search
- mkdocstrings:
    handlers:
      python:
        paths: [src]  # search packages in the src folder
        options:
          docstring_style: google
          merge_init_into_class: true
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.details
  - pymdownx.superfences
